.form-control-sm {
	height: 27px;
	max-width: 150px;
}
.inner {
	max-width: 900px;
}
.datepicker {
	display: inline-block !important;
	padding: 4px 2px 5px 25px; 
	width: 120px; 
	font-size: 12px;
	background:url('http://cfile23.uf.tistory.com/image/26100D4F5864C76827F535') no-repeat 2px 2px; background-size:15px
} 
body {
	background-color: #a9a9a9;
}
th {
	background-color: #f5f5f5;
}
table th {
	width: 120px !important;
}
td, th {
	vertical-align: middle !important;	
}
label {
	margin: 0;
}
input[type=checkbox] {
	vertical-align: middle !important;	
}